.divTable {
    padding: 10px;
    width: auto;
    height: inherit;
    overflow: auto;
}

.divTable::-webkit-scrollbar{
    width: 12px;
    background-color: whitesmoke;
}

.divTable::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgrey;
}

table {
    width: 100%;
    margin: 0 auto;
    border-spacing: 10px;
    word-break: break-all;
    border-collapse: collapse;
}

thead {
    background-color: whitesmoke;
}

tr {
    border-bottom: 1px solid rgb(238, 235, 235)!important;
}

tbody tr td {
    padding: 3px;
    vertical-align: text-top;
    text-align: center;
}

thead tr th {
    padding: 5px 20px;
    text-align: center;
    margin-bottom: 50px;
}

tbody tr {
    margin-bottom: 50px;
}

thead tr th.acao {
    width: 100px!important;
    text-align: center;
}

tbody tr td.acao {
    text-align: center;
}

.btn-edit , .btn-delete  {
    padding: 2px 20px;
    font-size: 15px;
    border-radius: 6px;
    border: none;
}


.btn-delete {
    color: white;
    background-color: rgb(255, 0, 0);
}