.header {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 12px;
}

.header span {
    font-weight: 900;
    font-size: 20px;
    word-break: break-all;
}

#new {
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    color: white;
    background-color: rgb(57, 57, 226);
}

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    width: 35%;
    font-weight: bold;
    max-width: 500px;
    background-color: white;
    padding: 50px;
    border-radius: 25px;
  }
  
  .modal input {
    font-size: 12pt;
    width: 100%;
    outline: none;
    padding: 5px 0px; 
    margin-bottom: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
  }
  
  .modal button {
    display: flex;
    justify-content: center;
    font-size: 12pt;
    width: 50%;
    margin: 10px auto;
    outline: none;
    border-radius: 20px; 
    padding: 5px 10px; 
    border: none;
    background-color: rgb(57, 57, 226);
    color: white;
  }